body {
    font-family: 'Jost';
}
.container {
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
#slider {
    width: 500px;
    height: 300px;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    display: none;
    font-size: 50px;
    border: 1px solid salmon;
    padding: 30px;
    background-color: #af0e0e;
    &:nth-child(2) {
        background-color: aqua;
    }
    &:last-child {
        background-color: #44af0e;
    }
  }
  .slider-wrap {
    position: relative;
    width: 500px;
  }
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#prevBtn {
    left: -20px;
}
#nextBtn {
    right: -20px;
}
.tabs-wrap {
    width: 500px;
}
  .tab {
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #5214a9;
    &.active {
        background: #44af0e;
    }
  }
  
  .tab-content {
    display: none;
    span {
        font-size: 40px;
        font-weight: 600;
        display: block;
    }
  }

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    background-color: #fff;
    color:#af0e0e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-shadow: 1px 3px 5px rgba(0,0,0, .1);
    transform: translate(-50%, -50%) scale(0.8);
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
    &.visible {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
  }

  .modal-btn {
    background-color: #af0e0e;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    margin: 50px auto;
    display: block;
    height: 50px;
    width: 150px;
    border: none;
  }
  